# PostgreSQL Connection (Neon, Supabase, Local)
DATABASE_URL="your_database_url"

# Better Auth Secret (Generate via: openssl rand -base64 32)
BETTER_AUTH_SECRET="your_better_auth_secret"
# Base URL of your app
BETTER_AUTH_URL="http://localhost:3000"

# Google OAuth Credentials (https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

# Groq API Key for AI Insights (https://console.groq.com)
GROQ_API_KEY="your_groq_api_key"

# Resend API Key for Email Service (https://resend.com/api-keys)
RESEND_API_KEY="your_resend_api_key"

# Vite public env (for Better Auth client)
VITE_BETTER_AUTH_URL="http://localhost:3000"

# ID from Table authorized user (Optional - for admin features on page /feedback)
AUTHORIZED_USER_ID="your_authorized_user_id"

